==
<?php
function onInit()
{
    $themePath = 'themes/' . $this->theme->getDirName();
    $this->layout['styles'] = url(mix('assets/css/styles.css', $themePath));
    $this->layout['scripts'] = url(mix('assets/js/scripts.js', $themePath));
}
?>
==
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		{% placeholder SEO default %}
		<title>{{ this.page.title }}</title>
		<meta name="title" content="{{ this.page.meta_title }}" />
		<meta name="description" content="{{ this.page.meta_description }}" />
		{% endplaceholder %}

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
        <link href="{{ this.layout.styles }}" rel="stylesheet" />
		{% styles %}
	</head>
	<body class="container flex flex-col min-h-screen mx-auto">

		{% partial 'site/navigation' %}

		<main class="flex-grow">
			{% page %}
		</main>

		{% partial 'site/footer' %}

		<script src="{{ this.layout.scripts }}"></script>
		{% framework extras %} 
        {% scripts %}
        <script>Alpine.start();</script>
	</body>
</html>